.redminus {
    border: none;
    background-color: transparent;
    font-size: 40px;
    margin: 0 10px;
    color: rgb(209, 20, 20);
    cursor: pointer;
    transition: 0.1s ease-in-out;
    
}

.redminus:disabled {
    color: rgb(63, 11, 11);
    cursor: not-allowed;
    margin-left: 40px;
}


.btn:disabled {
    background-color: rgb(67, 67, 67);
    color: black;
    border: 1px solid black;
    cursor: not-allowed;
  }