.redminus {
    border: none;
    background-color: rgb(242, 25, 25);
    border-radius: 8px;
    width: 15px;
    height: 4px;
    padding: none;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.redminus:disabled {
    background-color: rgb(40, 7, 7);
    cursor: not-allowed;
    margin-left: 70px;
}

.btn { 
    padding: 10px 20px;
}

.btn:disabled {
    background-color: rgb(67, 67, 67);
    color: black;
    border: 1px solid black;
    cursor: not-allowed;
  }