.redminus {
    border: none;
    background-color: transparent;
    font-size: 40px;
    margin: 0 10px;
    color: rgb(242, 25, 25);
    cursor: pointer;
    transition: 0.2s ease-in;
}

.redminus:disabled {
    color: rgb(40, 7, 7);
    cursor: not-allowed;
    margin-left: 70px;
}

.btn:disabled {
    background-color: rgb(67, 67, 67);
    color: black;
    border: 1px solid black;
    cursor: not-allowed;
  }