.wrapperbig {
    height: 100dvh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: auto;
    background-color: black;
    /* border-left: 1px solid white; */
    display: flex;
}

.wrapper {
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    z-index: 100;
    width: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    /* border-left: 1px solid white; */
}

.navigation {
    height: 20dvh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-wrap: nowrap;
    width: 70%;
    align-items: center;
}

.btn {
    position: relative;
    top: 20px;
    left: -20px;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
}

.link {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    width: 100%;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.link:hover {
    color: #f5f5f5;
}