.wrapper {
    height: 100dvh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    /* width: 100vw; */
    width: 150px;
    transition: transform 0.3s ease-in-out;
    background-color: black;
    clip-path: polygon(100% 0, 0% 0, 100% 100%);
}

.navigation {
    height: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}

.link {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    width: 100%;
    padding: 20px;
    text-align: center;
}